<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Accounts</title>
  </head>
  <body>
    <main>
      <h1>My Accounts</h1>
      <h3>
        <nav>
       
       <ul>

          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">Log out</a>
          </li>
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'create_account' %}">Create Account</a>
          </li>
          
          {% endif %} 
        
          
       </ul>
        
        </nav>
      </h3>
      <table>
        <thead>
          <th>Name</th>
          <th>Number</th>
          <th>Number of receipts</th>
          
        </thead>
        <tbody>
          {% for a in acc %}
          <tr>
            <td>{{ a.name }}</td>
            <td>{{ a.number }}</td>
            <td>{{ a.receipts.count }}</td>

            </tr>
         {% endfor %}
        </tbody>
      </table>
      
    </main>
  </body>
</html>
