<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Receipts</title>
  </head>
  <body>
    <main>
      <h1>My Receipts</h1>
      <h3>
        <nav>
       
       <ul>

          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">Log out</a>
          </li>
          <li>
            <a href="{% url 'create_receipt' %}">Create Receipt</a>
          </li>
          <li>
            <a href="{% url 'category_list' %}">View Categories</a>
          </li>
          <li>
            <a href="{% url 'account_list' %}">View Accounts</a>
          </li>
          {% endif %} 
        
          
       </ul>
        
        </nav>
      </h3>
      <table>
        <thead>
          <th>Vendor</th>
          <th>Total</th>
          <th>Tax</th>
          <th>Date</th>
          <th>Category</th>
          <th>Account</th>
        </thead>

        <tbody>
          {% for r in receipt %}

          <tr>
            <td>{{ r.vendor }}</td>
            <td>{{ r.total }}</td>
            <td>{{ r.tax }}</td>
            <td>{{ r.date|date:"m/j/y" }}</td>
            <td>{{ r.category.name }}</td>
            <td>{{ r.account.name }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
